[submodule "personal"]
	path = personal
	url = git@github.com:mikelindsay/personal.git
[submodule "/home/mike/.dotfiles/work"]
	path = /home/mike/.dotfiles/work
	url = git@github.com:mikelindsay/work.git
